<h3> Python Variable </h3>

<h4> Python Vraible </h4> : python variable is use to store data/ information

In [1]:
##########  Creating Variable

In [2]:
x = 30 # x is the variable while '30' is the data

In [3]:
answer = 90  # answer is the variable while '90' is the data

In [4]:
print("30")

30

In [5]:
print(x)

30

In [6]:
print(x)

30

In [7]:
print(x + 1) # x is 30 so therefore the answer should be 31

31

<h3> Variable case sensitivity </h3> this means python variable's case is treated diffrently

In [8]:
x = 70
X = 100

In [9]:
print(x)

70

In [10]:
print(X)

100

In [11]:
result = 500
RESULT = 1000
# the above  variables are not the same because python is case sensitive

In [12]:
print(result)
print(RESULT)

500
1000

In [14]:
print(x) # 70
print("x") # 'x'
print('x') # 'x'

70
x
x

<h1> Python Variable Naming Rules </h1>

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

<p> Rules for Python variables: </p>
<p> (1)  A variable name must start with a letter or the underscore character </p>
<p> (2) A variable name cannot start with a number </p>
<p> (3) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) </p>
<p> (4) Variable names are case-sensitive (age, Age and AGE are three different variables) </p>

In [16]:
x1 = 100 # valid
xx = 200 # valid
my_age = 23 # valid
age = 30 # valid

In [20]:
# first rule < A variable name must start with a letter or the underscore character >
my_name = "John"
_my_name = "Tayo"

print(my_name)
print(_my_name)

John
Tayo

In [21]:
$_invalid_name = "jj" # this violate firts rule of variable naming

SyntaxError: invalid syntax (2917946801.py, line 1)

In [22]:
# to fix above syntax error: remove the dollar characater
_invalid_name = "jj"

In [23]:
###################   A variable name cannot start with a number #########################
x11 = 200 # this is  valid
11x = 20 # this is not valid

SyntaxError: invalid syntax (4149800433.py, line 3)

In [24]:
####################### A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )##
my$age = 23 # invalid
my#age = 23 # invalid
my+age = 200 # not valid

SyntaxError: invalid syntax (2676119208.py, line 2)

In [25]:
####### Variable names are case-sensitive (age, Age and AGE are three different variables) #########

age = 20
Age = 30
AGe = 40
AGE = 50
## all the above variables are diffrent because python is CASE SENSITIVE

<h2> Multi Words Variable Names </h2>

In [28]:
# sometime variable names can have more than one words
# example is studentPopulation
# NAMING MULTI WORDS VAFRIABLE : COMMON CONVENTION ARE BELOW

# (1) Camel Case: studentPopulation, myResult, nigeriaPresidentName  : hint( start with lower case then subsequent
# word should begin with upper case) 

#(2) Snake Case: student_population, my_result, nigeria_president_name  : hint ( separate each word with underscore)



nigeria_population = "200 millions"

print("Nigeria population is ",nigeria_population)

Nigeria population is  200 millions

<h2> Variable Assignment </h2>

In [31]:
# Variable assignment means putting value into variable e.g

x = 300 # it means assign 300 to x

# we can have multiple assignment as well e.g

name,age,country = "John",23,"Nigeria" 

print("Name is ",name)
print("age is ",age)
print("country is ",country)

# the above can also be written in 3 lines

name1 = "john"
age1 = 23
country1 = "Nigeria"

print("Name1 is ",name1)
print("age1 is ",age1)
print("country1 is ",country1)

Name is  John
age is  23
country is  Nigeria
Name1 is  john
age1 is  23
country1 is  Nigeria